version: "3"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    restart: always

#  nginx:
#    image: nginx:1.19.3
#    container_name: nginx-cargo-discounter
#    ports:
#      - "81:80"
#    volumes:
#      - ./nginx.conf:/etc/nginx/conf.d/default.conf
#    depends_on:
#      - backend

  customer-bot:
    build:
      context: .
      dockerfile: tg_bot_customer/Dockerfile
    container_name: customer-bot
    ports:
      - "7000:7000"
    restart: always

  driver-bot:
    build:
      context: .
      dockerfile: tg_bot_driver/Dockerfile
    container_name: driver-bot
    ports:
      - "7001:7001"
    restart: always